<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Università</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/quiz.js" defer></script>
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz Università</h1>
        
        <div class="start-question">
            <label for="startingQuestion">Inizia da domanda numero:</label>
            <input type="number" id="startingQuestion" min="1" value="1">
            <button id="startButton" class="start-btn">Inizia</button>
        </div>
        
        <div id="score">
            <p id="correctCount" style="color: green;">Corrette: 0</p>
            <p id="incorrectCount" style="color: red;">Sbagliate: 0</p>
        </div>
        
        <div class="question-card">
            <p id="domanda-id" id="question-id"></p>
            <p id="domanda" class="question-text"></p>
            <ul id="risposte" class="answer-list"></ul>
            <p id="result" class="result-text"></p>
            <button id="nextBtn" class="next-btn" onclick="prevQuestion()">Domanda Precedente</button>
            <button id="nextBtn" class="next-btn" onclick="nextQuestion()">Prossima Domanda</button>
            <button id="saveBtn" class="save-btn" onclick="saveQuestion()">Salva per dopo</button>
            <button id="removeBtn" class="remove-btn" onclick="removeSavedQuestion()">Rimuovi domanda salvata</button>
            

        </div>
                
        <button id="startSavedButton" class="startsaved-btn" onclick="startSavedQuiz()">Inizia con domande salvate</button>
        <button id="clearSavedQuestions" class="clear-saved-questions" onclick="clearSavedQuestions()">Cancella domande salvate</button>
        <div><span id="savedCount" style="font-weight: bold; color:white">Salvate: 0</span></div>
    </div>
</body>
</html>
